* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", Times, serif;
    line-height: 1.2;
    padding: 50px 55px;
    background-color: #fff;
    color: #595959;
}

h1 {
    font-size: 42px;
    font-weight: bold;
    color: #000;
    margin-bottom: 45px;
}

.content {
    max-width: 800px;
}

.content p {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: left;
}

.content p:nth-child(1),
.content p:nth-child(4),
.content p:nth-child(7) {
    font-style: italic;
    font-size: 28px;
    margin-bottom: 35px;
    color: #595959;
}

.content p:nth-child(1)::first-line,
.content p:nth-child(2)::first-line,
.content p:nth-child(4)::first-line,
.content p:nth-child(5)::first-line,
.content p:nth-child(7)::first-line,
.content p:nth-child(8)::first-line {
    color: #e46c55;
}

.lembrete {
    margin-top: 20px;
    font-size: 15px;
    color: #000;
}

.lembrete p {
    margin-bottom: 2px;
}
